<div class="left_top">Registration</div>
			<div class="content_left">
				<ul>
					<li>
						<a href="/admin/farmers">List of farmer registrations</a>            </li>

						<li>
							<a href="/admin/suppliers">List of supplier registrations</a>            </li>

						</ul>
					</div>
		    
		    <div class="height10"></div>
			<div class="left_top">Registration</div>
			<div class="content_left">
				<ul>
					<li>
						<a href="/admin/farmers">List of farmer registrations</a>            </li>

						<li>
							<a href="/admin/suppliers">List of supplier registrations</a>            </li>

						</ul>
					</div>