<div class="left_top">Account</div>
			<div class="content_left">
				<ul>
					<li>
						<%= link_to 'User profiles', profile_path %> 

						<li>
						<%= link_to 'change password', profile_password_path %>
						</li>

						</ul>
					</div>
		    
		    <div class="height10"></div>
			<div class="left_top">System</div>
			<div class="content_left">
				<ul>
					<li>
						<%= link_to 'User List', users_index_path %>            
					</li>

					<li>
						<%= link_to 'Menu List', menus_index_path %>
					</li>

						</ul>
					</div>